---
---

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1, 'tnum' 1; /* fix for Chrome */
  --black: #222;
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

body {
  margin: 0;
  font-size: 1.2em;
  color: var(--black);

  > div {
    position: relative;
    min-height: 100vh;

    > div {
      padding-bottom: 10rem;
    }

    footer {
      position: absolute;
      bottom: 0;
      width: 100vw;

      >div:first-child {
        height: 8rem;
      }
    }
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5em;
  position: sticky;
  background-color: white;
  top: 0;

  nav {
    display: none;
    margin-left: -0.5em;
    margin-right: -0.5em;
    width: 100vw;
    padding-top: 0.5em;
    overflow: hidden;

    a {
      display: block;
      text-decoration: none;
      color: var(--black);
      font-size: 1.2em;
      text-transform: uppercase;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

    a.current {
      background-color: var(--black);
      color: white;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }

  nav.open {
    display: flex;
  }

  .heading {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;

    .mistni-komise {
      color: gray;
      font-weight: 300;
    }
  }

  .hamburger {
    width: 1.5em;
    height: 1.5em;
    padding: 0.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    :hover {
      cursor: pointer;
    }

    div {
      width: 100%;
      height: calc(1.5em / 6);
      background-color: var(--black);
    }
  }
}

main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1em;
  margin: 0.5em;
  align-items: end;

  * {
    grid-column: 1 / span 6;
    grid-row: auto / auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
  }
}

footer {
  background-color: #222;

  a {
    color: white;
    text-decoration: none;
  }

  >div:first-child {
    padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    color: white;
    font-size: 0.8em;

    >div {
      font-weight: bold;

      p {
        margin: 0;
      }
    }

    ul {
      grid-column: 6;
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  >ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.6em;

    a {
      color: #aaa;
    }
  }
}

.posts>div {
  border: 2px solid var(--black);
  padding: 0.5em;

  img {
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
  }

  div {
    display: flex;
    align-items: end;

    h3 {
      flex-grow: 1;

      a {
        color: var(--black);
        text-decoration: none;
      }
    }
  }

}

@media (min-width: 800px) {
  header {
    .hamburger {
      display: none;
    }

    nav {
      display: block;
      flex-grow: 0;
      padding: 0;
      margin: 0;
      width: auto;

      ul {
        display: flex;
        flex-direction: row;
      }
    }
  }

  main {
    max-width: 800px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;

    p:has(img) {
      grid-column: span 3;
    }
  }

  footer {
    >* {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;

    >div {
      grid-column: span 1;
    }
  }

  img {
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  img.expand {
    position: relative;
    transform: scale(1.5);
    transition: transform 0.3s ease;
    z-index: 10;
    width: 800px;
  }
}
