<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
	</head>
	<body>
		<div>
			<div>
				<header>
					<a class="heading" href="/">
						<span>Rochlice</span><span class="mistni-komise">místní komise</span>
					</a>
					<script>
						function hamburgerClicked() {
							document.getElementById("header__links").classList.toggle("open");
						}
					</script>
					<div class="hamburger" onclick="hamburgerClicked(); return false">
						<div></div>
						<div></div>
						<div></div>
					</div>
					<nav id="header__links">
						<ul>
						{% for item in site.data.navigation %}
							<li><a
								href="{{ item.link }}"
								{% if page.url == item.link %}class="current"{%endif %}
							>
								{{ item.name }}
							</a></li>
						{% endfor %}
						</ul>
					</nav>
				</header>
				<main>
				{{ content }}
				</main>
			</div>
			<footer>
				<div>
					<p>Místní komise Rochlice</p>
					<ul>
						{% for item in site.data.navigation %}
							<li><a href="{{ item.link }}">
								{{ item.name }}
							</a></li>
						{% endfor %}
					</ul>
				</div>
			</footer>
		</div>
	</body>
</html>
