<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		{% seo %}
	</head>
	<body>
		<div>
			<div>
				<header>
					<a class="heading" href="/">
						<span>Rochlice</span><span class="mistni-komise">místní komise</span>
					</a>
					<script>
						function hamburgerClicked() {
							document.getElementById("header__links").classList.toggle("open");
						}
					</script>
					<div class="hamburger" onclick="hamburgerClicked(); return false">
						<div></div>
						<div></div>
						<div></div>
					</div>
					<nav id="header__links">
						<ul>
						{% for item in site.data.navigation.sites %}
							<li><a
								href="{{ item.link }}"
								{% if page.url == item.link %}class="current"{%endif %}
							>
								{{ item.name }}
							</a></li>
						{% endfor %}
						</ul>
					</nav>
				</header>
				<main>
				{{ content }}
				</main>
			</div>
			<footer>
				<div>
					<div>
						<p>Místní komise Rochlice</p>
						<a href="mailto:rochlice@magistrat.liberec.cz">rochlice@magistrat.liberec.cz</a>
					</div>
					<ul>
						{% for item in site.data.navigation.sites %}
							<li><a href="{{ item.link }}">
								{{ item.name }}
							</a></li>
						{% endfor %}
					</ul>
				</div>
				<ul>
					<a href="https://github.com/mkrochlice/mkrochlice.github.io">Zdrojové kódy stránky</a>
					<a href="/feed.xml">RSS</a>
					<a href="/sitemap.xml">Mapa WEBu</a>
				</ul>
			</footer>
		</div>

		<script>
			document.querySelectorAll('img:not(.no-expand)').forEach(img => {
				img.addEventListener('click', () => {
					img.classList.toggle('expand');
				});
			});
		</script>
	</body>
</html>
